.workSpace {
  display: flex;
  justify-content: flex-start;
  /*region Panel*/
  /*endregion*/
}
.workSpace .imageEditor {
  /*region uploadForm*/
  /*endregion*/
}
.workSpace .imageEditor #sourceImage {
  display: none;
}
.workSpace .imageEditor__canvasContainer {
  display: inline-block;
  border: 1px solid;
}
.workSpace .commandPanel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 60px;
  background-color: #00BCD4;
  margin-right: 40px;
  height: 500px;
}
.workSpace .commandPanel__item {
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: #212121;
  background: #B2EBF2;
  border-radius: 2px;
  border: 1px solid #86e0eb;
  text-align: center;
  line-height: 48px !important;
  margin: 6px 8px;
}
.workSpace .commandPanel__item:hover {
  cursor: pointer;
  background: #4ed1e1;
  color: #FFFFFF;
}
.workSpace .commandPanel__item.active {
  background: #FFFFFF;
}
.workSpace .commandPanel__item.active:hover {
  cursor: pointer;
  background: #86e0eb;
  color: #008fa1;
}
